.transparent {
    color: transparent;
}

// OOCSS classes for text colour
.white {
    color: #fff;
}

.black {
    color: #000;
}

.red {
    color: #e53935;
}

.green {
    color: #009688;
}
.primary, .primary1 {
    color: $primary1Color;
}

.primary2 {
    color: $primary2Color;
}

.primary3 {
    color: $primary3Color;
}