$icon-md-size: 100px;

.icon-md {
    height: $icon-md-size;
    width: $icon-md-size;
    border-radius: 100%;
    margin-bottom: $margin-sm;
}

.icon-html {
    @include bg-img(url(../assets/img/courses/html.svg), contain, $icon-md-size);
    width: $icon-md-size;
    min-width: $icon-md-size;
    background-color: #c75c5c;
}

.icon-python {
    @include bg-img(url(../assets/img/courses/python.svg), contain, $icon-md-size);
    width: $icon-md-size;
    min-width: $icon-md-size;
    background-color: #c75c5c;
}

.icon-node {
    @include bg-img(url(../assets/img/courses/node.svg), contain, $icon-md-size);
    width: $icon-md-size;
    min-width: $icon-md-size;
    background-color: #c75c5c;
}

.icon-phone {
    @include bg-img(url(../assets/img/courses/phone.svg), contain, $icon-md-size);
    width: $icon-md-size;
    min-width: $icon-md-size;
    background-color: #c75c5c;
}

.icon-books {
    @include bg-img(url(../assets/img/courses/books.svg), contain, $icon-md-size);
    width: $icon-md-size;
    min-width: $icon-md-size;
    background-color: #c75c5c;
}

.icon-pen {
    @include bg-img(url(../assets/img/courses/pen.svg), contain, $icon-md-size);
    width: $icon-md-size;
    min-width: $icon-md-size;
    background-color: #c75c5c;
}

.icon-calendar {
    @include bg-img(url(../assets/img/icons/calendar.png), contain, $icon-md-size);
    width: $icon-md-size;
    background-color: #e0995e;
}

.icon-pencil {
    @include bg-img(url(../assets/img/icons/pencil.png), contain, $icon-md-size);
    width: $icon-md-size;
    background-color: #e0995e;
}

.icon-mentor {
    @include bg-img(url(../assets/img/icons/ninja.png), contain, $icon-md-size);
    width: $icon-md-size;
    //background-color: #e0995e;
    background-color: #c75c5c;
    //background-color: #4f5d73;
}

.icon-designer {
    @include bg-img(url(../assets/img/icons/designer2.png), contain, $icon-md-size);
    width: $icon-md-size;    
    background-color: #E57373;
}

.icon-ninja {
    @include bg-img(url(../assets/img/icons/ninja.png), contain, $icon-md-size);
    width: $icon-md-size;
    height: $icon-md-size;
    min-width: $icon-md-size;
    min-height: $icon-md-size;
    background-color: #4FC3F7;
}

.icon-marketer {
    @include bg-img(url(../assets/img/icons/businessman.png), contain, $icon-md-size);
    width: $icon-md-size;
    background-color: #FFD54F;
}

.icon-scientist {
    @include bg-img(url(../assets/img/icons/female-scientist-transparent.png), contain, $icon-md-size);
    width: $icon-md-size;
    background-color: #9575CD;
}

.icon-architect {
    @include bg-img(url(../assets/img/icons/writer.png), contain, $icon-md-size);
    width: $icon-md-size;
    background-color: #81C784;
}

.icon-investor {
    @include bg-img(url(../assets/img/icons/investor.png), contain, $icon-md-size);
    width: $icon-md-size;    
    background-color: #4DB6AC;
}