.img-testimonial-female1 {
    @include bg-img(url(../assets/img/testimonials/headshot_female_1.jpg), contain, $testimonial-img-size);
    border-radius: 100%;
    margin-left: $margin-md;
    margin-right: $margin-md;
    width: $testimonial-img-size;
}

.img-flask {
    @include bg-img(url(../assets/img/logos/flask.png), contain, 120px);
    min-height: 100px;
    margin-bottom: $margin-sm;
}

.img-bubbles {
    @include bg-img(url(../assets/img/backgrounds/bubbles.png), cover, 500px);
}

