
.flex-fill {
    flex: 1 1 auto;
}

.center {
    text-align: center;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.full-width {
    width: 100%;
}

.full-height {
    height: 100%;
}

.half-width {
    width: 50%;
}

.half-height {
    height: 50%;
}

.max-width-400 {
    max-width: 400px;
}

.max-width-600 {
    max-width: 600px;
}

.max-width-800 {
    max-width: 800px;
}

.max-width-1000 {
    max-width: 1000px;
}

.z-index-0 {
    z-index: 0;
}

.z-index-1 {
    z-index: 1;
}

.z-index-2 {
    z-index: 2;
}

.z-index-10 {
    z-index: 10;
}

.z-index-minus-1 {
    z-index: -1;
}

.z-index-minus-2 {
    z-index: -2;
}

.z-index-minus-10 {
    z-index: -10;
}
