html, body, #app {
    min-height: 100%;
    //height: 100%;
}

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.sidebar {
    box-shadow: inherit;
}

// sidebars should only have a max width on xs through md
@media screen and (min-width: map-get($grid-breakpoints, lg)) { 

    .sidebar {
        max-width: 300px;
        margin-left: $margin-lg;
    }
}

.flex-fill {
    flex: 1 1 auto;
}

.z-index-0 {
    z-index: 0;
}

.z-index-1 {
    z-index: 1;
}

.z-index-2 {
    z-index: 2;
}

.z-index-10 {
    z-index: 10;
}

.z-index-minus-1 {
    z-index: -1;
}

.z-index-minus-2 {
    z-index: -2;
}

.z-index-minus-10 {
    z-index: -10;
}
