

.marginless {
    margin: 0px 0px 0px 0px !important;
}

.margin-y-sm {
    margin-top: $margin-sm;
    margin-bottom: $margin-sm;
}

.margin-y-md {
    margin-top: $margin-md;
    margin-bottom: $margin-md;
}

.margin-y-lg {
    margin-top: $margin-lg;
    margin-bottom: $margin-lg;
}

.margin-y-xl {
    margin-top: $margin-xl;
    margin-bottom: $margin-xl;
}

.margin-x-sm {
    margin-left: $margin-sm;
    margin-right: $margin-sm;
}

.margin-x-md {
    margin-left: $margin-md;
    margin-right: $margin-md;
}

.margin-x-lg {
    margin-left: $margin-lg;
    margin-right: $margin-lg;
}

.margin-x-xl {
    margin-left: $margin-xl;
    margin-right: $margin-xl;
}


