

.marginless {
    margin: 0px 0px 0px 0px !important;
}

.margin-y-xs {
    margin-top: $margin-xs;
    margin-bottom: $margin-xs;
}

.margin-y-sm {
    margin-top: $margin-sm;
    margin-bottom: $margin-sm;
}

.margin-y-md {
    margin-top: $margin-md;
    margin-bottom: $margin-md;
}

.margin-y-lg {
    margin-top: $margin-lg;
    margin-bottom: $margin-lg;
}

.margin-y-xl {
    margin-top: $margin-xl;
    margin-bottom: $margin-xl;
}

.margin-y-xxl {
    margin-top: $margin-xxl;
    margin-bottom: $margin-xxl;
}

.margin-y-xxxl {
    margin-top: $margin-xxxl;
    margin-bottom: $margin-xxxl;
}

.margin-x-xs {
    margin-left: $margin-xs;
    margin-right: $margin-xs;
}

.margin-x-sm {
    margin-left: $margin-sm;
    margin-right: $margin-sm;
}

.margin-x-md {
    margin-left: $margin-md;
    margin-right: $margin-md;
}

.margin-x-lg {
    margin-left: $margin-lg;
    margin-right: $margin-lg;
}

.margin-x-xl {
    margin-left: $margin-xl;
    margin-right: $margin-xl;
}


.margin-right-xs {
    margin-right: $margin-xs;
}

.margin-right-sm {
    margin-right: $margin-sm;
}

.margin-right-md {
    margin-right: $margin-md;
}

.margin-right-lg {
    margin-right: $margin-lg;
}

.margin-bottom-xs {
    margin-bottom: $margin-xs;
}

.margin-bottom-sm {
    margin-bottom: $margin-sm;
}

.margin-bottom-md {
    margin-bottom: $margin-md;
}

.margin-bottom-lg {
    margin-bottom: $margin-lg;
}