
.paddingless {
    padding: 0;
}

.padding-y-sm {
    padding-top: $padding-xs;
    padding-bottom: $padding-xs;
}

.padding-y-sm {
    padding-top: $padding-sm;
    padding-bottom: $padding-sm;
}

.padding-y-md {
    padding-top: $padding-md;
    padding-bottom: $padding-md;
}

.padding-y-lg {
    padding-top: $padding-lg;
    padding-bottom: $padding-lg;
}

.padding-y-xl {
    padding-top: $padding-xl;
    padding-bottom: $padding-xl;
}

.padding-y-xxl {
    padding-top: $padding-xl;
    padding-bottom: $padding-xl;
}

.padding-top-mobile {
    padding-top: $padding-xl;
}
.padding-x-sm {
    padding-left: $padding-sm;
    padding-right: $padding-sm;
}

.padding-x-md {
    padding-left: $padding-md;
    padding-right: $padding-md;
}

.padding-x-lg {
    padding-left: $padding-lg;
    padding-right: $padding-lg;
}

.padding-x-xl {
    padding-left: $padding-xl;
    padding-right: $padding-xl;
}

.padding-x-xxl {
    padding-left: $padding-xl;
    padding-right: $padding-xl;
}

.padding-top-xl {
    padding-top: $padding-xl;
}

.padding-bottom-lg {
    padding-bottom: $padding-lg;
}



