

@font-face {
    font-family: 'BrandonText-Regular';
    src: url('../assets/fonts/brandon/2CFE1B_2_0.eot');
    src: url('../assets/fonts/brandon/2CFE1B_2_0.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/brandon/2CFE1B_2_0.woff2') format('woff2'),
        url('../assets/fonts/brandon/2CFE1B_2_0.woff') format('woff'),
        url('../assets/fonts/brandon/2CFE1B_2_0.ttf') format('truetype');
}

.BrandonText-Regular {
  font-family: BrandonText-Regular;
}

.roboto {
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.html, body, app {
    font-family: BrandonText-Regular, Geneva, Tahoma, sans-serif;
}

h1 {
    font-size: $font-size-xxl;
}
h2 {
    font-size: $font-size-xl;
}

h3 {
    font-size: $font-size-lg;
}

p {
    font-size: $font-size-md;
}

.font-size-sm {
    font-size: $font-size-sm;
}

.font-size-md {
    font-size: $font-size-md;
}

.font-size-lg {
    font-size: $font-size-lg;
}


.font-size-xl {
    font-size: $font-size-xl;
}

.font-size-xxl {
    font-size: $font-size-xxl;
}

.font-spacing-md {
    letter-spacing: 1px;
}

.logo {
    @extend .roboto;
}

.lead {
    //@extend .padding-y-xxl;
    @extend .font-size-xxl;
}

.boxed {
    width: auto;
    display: block;
    @extend .padding-y-md;
    @extend .padding-x-md;
    border: 3px solid white;
    //border-radius: 25%;
}

.text-decoration-none {
    text-decoration: none;
}