// standard grid breakpoints are taken from bootstrap
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;

// flex-basis percentages to be made available across all screen sizes
$flex-basis-percentages: (
  100: 100%,
  75: 75%,
  66: 66.66%, 
  50: 50%,
  33: 33.33%,
  25: 25%
) !default;

// child elements will be n times bigger than their sibling elements
$flex-grow-factors: 1, 2, 3, 4, 5 !default;

// trim the size of the build by removing responsive versions of some classes
$enable-flex-grow-responsive:        true !default;
$enable-flex-wrap-responsive:        true !default;
$enable-flex-basis-responsive:       false !default; // false by default
$enable-justify-between-responsive:  true !default;
$enable-justify-around-responsive:   true !default;
$enable-align-baseline-responsive:   true !default;
$enable-align-self-responsive:       true !default;


// Material UI color scheme
$primary1Color: #03a9f4;
$primary2Color: #0277bd;
$primary3Color: #81d4fa;
$accent1Color: #f06292;

// margins
$margin-xs: 8px;
$margin-sm: 16px;
$margin-md: 24px;
$margin-lg: 38px;
$margin-xl: 64px;
$margin-xxl: 120px;
$margin-xxxl: 150px;

// paddings
$padding-xs:  8px;
$padding-sm:  16px;
$padding-md:  24px;
$padding-lg:  38px;
$padding-xl:  56px;
$padding-xxl: 64px;
$padding-xxxl: 92px;

//containers

$containers: (
  xs: $padding-sm,
  sm: $padding-md,
  md: $padding-xl,
  lg: $padding-xxl,
  xl: $padding-xxxl
);


// Fonts
$font-family: BrandonText-Regular, Geneva, Tahoma, sans-serif;

// images
$testimonial-img-size: 120px;
$img-banner-height: 300px;
