$margin-xs: 8px;
$margin-sm: 16px;
$margin-md: 24px;
$margin-lg: 38px;
$margin-xl: 56px;
$margin-xxl: 64px;
$margin-xxxl: 92px;

$padding-xs:  8px;
$padding-sm:  16px;
$padding-md:  24px;
$padding-lg:  38px;
$padding-xl:  56px;
$padding-xxl: 64px;
$padding-xxxl: 92px;

$container-x-sm: $padding-md;
$container-y-sm: $padding-md;
$container-x-md: $padding-xl;
$container-y-md: $padding-lg;
$container-x-lg: $padding-xxxl;
$container-y-lg: $padding-lg;

$font-size-xs: 8px;
$font-size-sm: 12px;
$font-size-md: 18px;
$font-size-lg: 20px;
$font-size-xl: 26px;
$font-size-xxl: 36px;
$font-size-xxxl: 48px;